body {
	font-family: helvetica, arial, sans-serif;
}
h1 {
	color: #3a241d;
	text-align: center;
}
#left-container {
	background-color: #eee;
	width: 15%;
	left: 0px;
	top: 0px;
	position: absolute;
	height: 100%;
	padding: 10px;
}

#right-container {
	background-color: #eee;
	width: 15%;
	right: 0px;
	top: 0px;
	position: absolute;
	height: 100%;
	padding: 10px;
}
.plant-holder {
	position: relative;
	height: 13%;
	left: -10px;
  z-index: 2;
}

.plant {
	position: absolute;
	max-width: 150%;
	max-height: 150%;
	z-index: 2;
}

#terrarium {
  position: relative;
  width: 68%;
  height: 688px;
  margin: 0 auto;
  z-index: 100;
}

.jar-walls {
	height: 80%;
	width: 80%;
	background: #d1e1df;
	border-radius: 1rem;
	position: absolute;
	bottom: 10%;
	left: 10%;
	opacity: 0.5;
	z-index: 1;
}

.jar-top {
	width: 70%;
	height: 5%;
	background: #d1e1df;
	position: absolute;
	bottom: 90%;
	left: 15%;
	opacity: 0.7;
	z-index: 1;
}

.jar-bottom {
	width: 76%;
	height: 1%;
	background: #d1e1df;
	position: absolute;
	bottom: 9%;
	left: 12%;
	opacity: 0.7;
}

.jar-glossy-long {
  background-color: rgba(255, 255, 255, .7);
  display: block;
  border-radius: 12px;
  margin-top: 35%;
  margin-left: 4%;
  width: 40px;
  height: 190px;
  position: relative;
  z-index: 99;
}

.jar-glossy-short {
  background-color: rgba(255, 255, 255, .7);
  display: block;
  border-radius: 12px;
  margin-top: 40px;
  margin-left: 4%;
  width: 40px;
  height: 60px;
  position: relative;
  z-index: 99;
}

.dirt {
	width: 80%;
	height: 5%;
	background: #3a241d;
	position: absolute;
	border-radius: 0 0 1rem 1rem;
	bottom: 10%;
	left: 10%;
	opacity: 0.7;
	z-index: -1;
}